{% extends "base.html" %}

{% block body %}
    <div class="container">
        <h1>BullCoin Admin Page</h1>
        {% if numTotalCoins %}
            <b>There are currently {{numTotalCoins}} Total BullCoins.</b>
        {% else %}
            <b>There are no Bullcoins?!</b>
        {% endif %}
        <br>
        {% if numBankCoins %}            
            <b>The bank currently has {{numBankCoins}} coins</b> <br>
        {% else %}
            <b>The bank is broke!</b> <br>
        {% endif %}
        <br>
        {% set numUserCoins = numTotalCoins - numBankCoins %}
        <b>Users have a total of {{numUserCoins}} coins</b> (This list will be too long eventually) <br>
        {% if coinOwners %}
            {% for coinOwner in coinOwners %}
                {% if coinOwner._id != "Bank" %}
                    {{coinOwner._id.fname}} {{coinOwner._id.lname}} ({{coinOwner._id.email}}) has {{coinOwner.count}} coins <br>
                {% endif %}
            {% endfor %}
        {% else %}
            No one has any coins! <br>
        {% endif %}
        <br>
        <b>Commands</b> (These will all become buttons and forms and not just URLs to type in) <br>
        add coins to the bank with /coinmint/amt <br>
        delete coins from the bank with /coinmint/-amt <br>
        You can give from the bank to a user with: /bankcoingive/useremail/amt <br>
        You can take coins back for the bank froim a user with: /bankcoingive/useremail/-amt <br>
    </div>
{% endblock %}
