{% extends "base.html" %}

{% block body %}
    <div class="container">
        <h1>Form Page Title</h1>
        {% for field in form.errors %}
            {% for error in form.errors[field] %}
                <div class="alert alert-error">
                    <strong>Error!</strong>{{field}}: {{error}}
                </div>
            {% endfor %}
        {% endfor %}
        <form method=post>
            {{ form.hidden_tag() }}
            <table>
                {% if not service.applicant and not service.provider %}
                    <tr><td>I am the:</td><td>{{form.type_()}}</td></tr>
                {% elif service.applicant %}
                    <tr><td colspan="2"><h3>Provider {{form.type_(hidden=True)}}</h3></td></tr>
                {% else %}
                    <tr><td colspan="2"><h3>Applicant {{form.type_(hidden=True)}}</h3></td></tr>
                {% endif %}
                <tr><td>Subject: </td><td>{{form.subject()}}</td></tr>
                <tr><td>What:</td><td>{{form.category()}}</td></tr>
                <tr><td>When:</td><td>{{form.datetime()}}</td></tr>
                <tr><td>Description:</td><td>{{form.desc()}}</td></tr>
                <tr><td>Verified:</td><td>{{form.verified()}}</td></tr>
                <tr><td colspan='2'>{{form.submit()}}</td></tr>
            </table>
        </form>
    </div>
{% endblock %}
