{% extends "base.html" %}

{% block body %}
    <div class="container">
        <h1>Services</h1>

        <table class="table">
            <tr>
                <td>
                    <a href="/servicenew"><img width="20" src="/static/new.png"></a>
                </td>
                <th>Category</th><th>Subject</th><th>Owner</th><th>Provider</th><th>Applicant</th><th>When</th><th>Verified</th></tr>
            {% for service in services %}
                <tr>
                    <td>
                        {% if service.owner.id|string == session['currUserId']|string or session['admin'] %}
                        <a href="/serviceedit/{{service.id}}"><img width="20" src="/static/edit.png"></a>
                        <a href="/servicedelete/{{service.id}}"><img width="20" src="/static/delete.png"></a>
                        {% endif %}
                    </td>
                    <td>{{service.category}}</td>
                    <td>
                        <a href="/service/{{service.id}}">{{service.subject}}</a>
                    </td>
                    <td>{{service.owner.fname}} {{service.owner.lname}}</td>
                    <td>
                        {% if service.provider %}
                            {{service.provider.fname}} {{service.provider.lname}}
                        {% else %}
                            ----
                        {% endif %}
                    </td>
                    <td>
                        {% if service.applicant %}
                            {{service.applicant.fname}} {{service.applicant.lname}}
                        {% else %}
                            ----
                        {% endif %}
                    </td>
                    <td>{{service.datetime}}</td>
                    <td>{{service.verified}}</td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}
